body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1E5128;
    color: White;
  }
  
  h1 {
    text-align: center;
    font-size: 4em;
    background-color: #1E5128;
    color: white;
  }
  
  .nav-bar {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    background-color: #1E5128;
  }
  
  nav>a {
    margin: 16px;
    position: relative;
  }
  
  .intro {}

  /*D-day Page*/
  
  .d-day {
    height: 40%;
    width: 80%;
    margin: auto;
  }

  #main-img {
    text-align: center;
  
  .meeting {
    float: left;
    padding-top: 50px;
    padding-right: 20px;
  }

  .operation >h2 {
    text-align: left;
  }

  .operation >p {
    text-align: left;
    padding-left: 20px;
  }

  #normandy{
    padding-left: auto;
  }