body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1E5128;
    color: White;
  }
  
  h1 {
    text-align: center;
    font-size: 4em;
    background: url(../images/background1.jpg);
    color: white;
  }

  h2 {
    text-align: center;
  }
  
  p {
    padding: 10px;
  }
  .nav-bar {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    background: url(../images/background1.jpg);
  }

  .nav-bar a {
    color: #fff;
    text-decoration: none;
  }

  .nav-bar a:hover {
    color: blue;
    border-bottom: 5px solid #fff;
}

.active {
    border-bottom: 5px solid #fff;
}
  nav>a {
    margin: 16px;
    position: relative;
  }

  /*Intro Page*/
  
  .soldiers {
    height: 40%;
    width: 80%;
    margin: auto;
  }

  .intro {
    text-align: center;
  }

  /*D-day Page*/
  
  .d-day {
    height: 40%;
    width: 80%;
    margin: auto;
  }

  #main-img {
    text-align: center;
  }

  #normandy{
    padding-left: 20px;
  }

  .meeting {
    float: left;
    padding-top: 60px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .operation >h2 {
    text-align: left;
    padding-left: 10px;
  }

  .operation >p {
    text-align: left;
  }

  .landing-craft {
    float: right;
    padding: 10px;
  }

  #navel >h2 {
    text-align: left;
    padding: 10px;
  }

  .beach-landings {
    height: 40%;
    width: 80%;
    margin: auto;
  }

  #beach {
    text-align: center;
  }

  .day-video {
    float: left;
    padding-left: 60px;
  }

  .programs {
    text-align: center;
    padding: 60px 10px;
  }

  .film  {
    list-style: none;
  }

  .book {
    list-style: none;
  }

  .center-div {
    float: none;
    text-align: center;
    padding: 10px;
  }

  footer {
    background: url(../images/background1.jpg);
}

.social-networks {
  clear: both;
  text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 2em;
    margin: 20px 60px;
    color: white;
}
 

 